$color-main: #7f7f7f;
$color-sub: #c3c3c3;
$color-bg: #444444;
$color-black: #000000;
$color-white: #ffffff;

@keyframes titleIn{
    0%{
        opacity: 0;
    }

    60%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translateX(0)
    }
}
@-webkit-keyframes titleIn{
    0%{
        opacity: 0;
    }

    60%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes appIn{
    0%{
        opacity: 0;
        transform:  translate(20%, 5%);
    }
    
    100%{
        opacity: 1;
        transform:  translate(0%, 0%);
        visibility: visible;
    }
}

@keyframes buttonExpand{
    0%{
        transform: translate(-50%,-50%) scale(0);
    }

    80%{
        transform: translate(-50%,-50%) scale(1.1)
    }

    100%{
        transform: translate(-50%,-50%) scale(1);
    }
}

@keyframes buttonCreated{
    0%{
        position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 14rem;
    bottom: 42%;
    right: 34%;
    box-sizing: border-box;
    z-index: 900;
    }

    30%{
        position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 14rem;
    bottom: 42%;
    right: 34%;
    box-sizing: border-box;
    z-index: 900;
    }

    50%{
        position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 14rem;
    bottom: 42%;
    right: 34%;
    box-sizing: border-box;
    z-index: 900;
    }

    100%{
        position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 14rem;
    bottom: 12.8%;
    right: -4.6%;
    box-sizing: border-box;
    z-index: 900;
    }
}