$color-main: #7f7f7f;
$color-sub: #c3c3c3;
$color-bg: #444444;
$color-black: #000000;
$color-white: #ffffff;

@keyframes titleIn{
    0%{
        opacity: 0;
    }

    60%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translateX(0)
    }
}
@-webkit-keyframes titleIn{
    0%{
        opacity: 0;
    }

    60%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes appIn{
    0%{
        opacity: 0;
        transform:  translate(20%, 5%);
    }
    
    100%{
        opacity: 1;
        transform:  translate(0%, 0%);
        visibility: visible;
    }
}

@keyframes buttonExpand{
    0%{
        opacity: 0;
        transform: translate(-50%,-50%) scale(1);
    }

    1%{
        opacity: 1;
    }

    20%{
        transform: translate(-50%,-50%) scale(0);
    }

    50%{
        transform: translate(-50%,-50%) scale(0);
    }

    80%{
        transform: translate(-50%,-50%) scale(1);
    }

    90%{
        transform: translate(-50%,-50%) scale(1.1)
    }

    100%{
        transform: translate(-50%,-50%) scale(1);
    }
}

@keyframes buttonCreated{
    0%{
        transform: translate(-50%,-50%) scale(1);
    }

    30%{
        transform: translate(-50%,-50%) scale(1.1);
    }

    50%{
        // transform: translate(-50%,-50%) scale(0);
    }

    100%{
        transform: translate(-50%,-50%) scale(0);
    }
}

@keyframes menuInOut{
    0%{
        right: -30rem;
        opacity: 0;
        visibility: hidden;
    }

    100%{
        right: 5rem;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes selectedButtonSlide{
    0%{

    }

    100%{
        
    }
}

@mixin menu-positioning {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
}

