*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    overflow: hidden;
}

body{
    // padding: 1rem;
    background: #444;
    position: relative;
    color: $color-white;
    height: 100vh;
}

h1, h2, h6{
    font-family: 'Roboto', sans-serif;
    
}

h1{
    opacity: 0;
    transform: translateX(50%);
    animation: titleIn 2s ease-out 1s forwards;
    text-shadow: 0rem 0rem 5rem rgba(255, 255, 255, 0.4);
}