*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    overflow: hidden;
}

body{
    // padding: 1rem;
    background: linear-gradient(110deg, #444 60%, #333 60%);
    position: relative;
    color: $color-white;
    height: 100vh;
}

h2, h6{
    font-family: 'Roboto', sans-serif;
    
}

h1{
    font-size: 3rem;
    font-family: 'Monoton', sans-serif;
    line-height: normal;
    letter-spacing: normal;
    z-index: 90;
    opacity: 0;
    transform: translateX(50%);
    animation: titleIn 2s ease-out 1s forwards;
    text-shadow: 0rem 0rem 5rem rgba(255, 255, 255, 0.4);
}

a{
    color: $color-white;
    font-weight: 500;

    &:hover{
        color: $color-white;
        font-weight: 1000;
    }
}