.app{
    margin: 0;
    padding: 4rem 2rem 2rem 4rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    visibility: hidden;
    animation: appIn .7s ease-out 1s forwards;

    h1{
        font-size: 3rem;
        position: absolute;
        line-height: normal;
        letter-spacing: normal;
        top: -3rem;
        left: 0;
        z-index: 999;
    }

    &_panel{
        background-color: #111;
        padding: 2rem 4rem;
        border-radius: 10px;
        position: relative;
        height: 35rem;
        box-shadow: 20px 20px 30px $color-black;

        &:last-of-type{
            right: 15px;
        }

        #resetButton{
            margin-left: 2rem;
        }

        #errorMessage{
            visibility: hidden;
            color: red;
            font-size: 1rem;
        }

        &_form .carousel-indicators{
            position: absolute;
            top: 100%;
        }

        .carousel-control-next{
            height: 30rem;
            left: 100%;
        }

        .carousel-control-prev{
            height: 30rem;
            left: -15%;

        }

        &_preview{
            background-color: #444;
            border-radius: 4px;
            height: 300px;
            width: 100%;
            position: relative;

            &_button{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) scale(1);
                animation: buttonExpand 2s ease-in-out forwards;
                // quando o botão é criado, muda para animation: buttonCreated 1s ease-in-out .5s forwards;
                //enquanto crio o howToUse
                // display: none;
            }

            &_howToUse{
                font-size: .8rem;
                text-align: center;
                width: 90%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) scale(0);
                // animation: buttonCreated 2s ease-in-out 2s forwards reverse;
            }
        }
    }
}

#fontFamily{
    width: 90%;
}