.app{
    margin: 0;
    padding: 4rem 2rem 2rem 4rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    visibility: hidden;
    animation: appIn .7s ease-out 1s forwards;

    h1{
        position: absolute;
        top: -3rem;
        left: 0;
        z-index: 90;
    }

    &_panel{
        background-color: #111;
        padding: 2rem 4rem;
        border-radius: 10px;
        position: relative;
        height: 35rem;
        box-shadow: 20px 20px 30px $color-black;

        &:last-of-type{
            right: 15px;
        }

        #resetButton{
            margin-left: 2rem;
        }

        #errorMessage{
            visibility: hidden;
            color: red;
            font-size: 1rem;
        }

        &_form .carousel-indicators{
            position: absolute;
            top: 100%;
        }

        #nextArrow{
            height: 30rem;
            left: 100%;
        }

        #prevArrow{
            height: 30rem;
            left: -15%;

        }

        &_preview{
            background-color: #444;
            border-radius: 4px;
            height: 300px;
            width: 100%;
            position: relative;

            &_button{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) scale(1);
                animation: buttonExpand 2s ease-in-out forwards;
                // quando o botão é criado, muda para animation: buttonCreated 1s ease-in-out .5s forwards;
                //enquanto crio o howToUse
            }

            &_howToUse{
                font-size: .8rem;
                text-align: center;
                width: 90%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) scale(0);
            }
        }
    }
}

#fontFamily{
    width: 70%;
}

#searchFont{
    position: relative;
    left: 1rem;
}

#notCompatible{
    display: none;
}

@media (min-width: 992px) and (max-width: 1199px){
    .app{

        h1{
            font-size: 2.5rem;
        }
        
        &_panel{
            padding: 1rem 1rem 1rem 3rem;
            box-shadow: 20px 20px 30px #000000;

            #nextArrow{
                left: 96%;
            }

            #prevArrow{
                left: -14%;
            }
        }

    }
}

@media (max-width: 992px){
    html{
        overflow: initial;
    }

    body{
        background: linear-gradient(110deg, #444 60%, #333 60%);
        background-size: cover;
    }

    .app{

        h1{
            font-size: 1.8rem;
        }

        &_panel{

            &:last-of-type{
                right: 0px;
                bottom: 20px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}

@media (max-width: 768px){

    .app{

        h1{
            z-index: 90;
            top: -4rem;
        }

        &_panel{

            &:first-of-type{
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-of-type{
                bottom: 0px;
            }
        }
    }

    #notCompatible{
        display: block;
        position: fixed;
        background-color: #000;
        height: 100vh;
        z-index: 100;
    
        .row{
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%, -50%);
        }

        .notUsable{
            display: none;
        }

        .usable{
            display: block;
        }
    }
}

@media (max-width: 529px){
    
    #notCompatible{

        #understoodButton{
            display: none;
        }

        .usable{
            display: none;
        }

        .notUsable{
            display: block;
        }

    }

}