@keyframes titleIn {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes titleIn {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes appIn {
  0% {
    opacity: 0;
    transform: translate(20%, 5%); }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
    visibility: visible; } }
@keyframes buttonExpand {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1); }
  1% {
    opacity: 1; }
  20% {
    transform: translate(-50%, -50%) scale(0); }
  50% {
    transform: translate(-50%, -50%) scale(0); }
  80% {
    transform: translate(-50%, -50%) scale(1); }
  90% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }
@keyframes buttonCreated {
  0% {
    transform: translate(-50%, -50%) scale(1); }
  30% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(0); } }
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  overflow: hidden; }

body {
  background: linear-gradient(110deg, #444 60%, #333 60%);
  position: relative;
  color: #ffffff;
  height: 100vh; }

h2, h6 {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 3rem;
  font-family: 'Monoton', sans-serif;
  line-height: normal;
  letter-spacing: normal;
  z-index: 90;
  opacity: 0;
  transform: translateX(50%);
  animation: titleIn 2s ease-out 1s forwards;
  text-shadow: 0rem 0rem 5rem rgba(255, 255, 255, 0.4); }

a {
  color: #ffffff;
  font-weight: 500; }
  a:hover {
    color: #ffffff;
    font-weight: 1000; }

.form_text {
  transition: 1s; }

.btn-primary {
  background-color: #c3c3c3 !important;
  border-color: #7f7f7f;
  color: #111; }
  .btn-primary:hover {
    background-color: #c3c3c3;
    border-color: #7f7f7f; }

.form-control {
  display: inline;
  width: 55%;
  box-shadow: 2px 2px 5px #000000; }

#sloganSlider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 60;
  background-color: #111;
  width: 60%;
  border-radius: 10px;
  padding: .5rem 2rem;
  text-align: center; }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 2rem;
  opacity: 0;
  left: 1.2rem; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #444 transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.app {
  margin: 0;
  padding: 4rem 2rem 2rem 4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  animation: appIn .7s ease-out 1s forwards; }
  .app h1 {
    position: absolute;
    top: -3rem;
    left: 0;
    z-index: 90; }
  .app_panel {
    background-color: #111;
    padding: 2rem 4rem;
    border-radius: 10px;
    position: relative;
    height: 35rem;
    box-shadow: 20px 20px 30px #000000; }
    .app_panel:last-of-type {
      right: 15px; }
    .app_panel #resetButton {
      margin-left: 2rem; }
    .app_panel #errorMessage {
      visibility: hidden;
      color: red;
      font-size: 1rem; }
    .app_panel_form .carousel-indicators {
      position: absolute;
      top: 100%; }
    .app_panel #nextArrow {
      height: 30rem;
      left: 100%; }
    .app_panel #prevArrow {
      height: 30rem;
      left: -15%; }
    .app_panel_preview {
      background-color: #444;
      border-radius: 4px;
      height: 300px;
      width: 100%;
      position: relative; }
      .app_panel_preview_button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        animation: buttonExpand 2s ease-in-out forwards; }
      .app_panel_preview_howToUse {
        font-size: .8rem;
        text-align: center;
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0); }

#fontFamily {
  width: 70%; }

#searchFont {
  position: relative;
  left: 1rem; }

#notCompatible {
  display: none; }

@media (min-width: 992px) and (max-width: 1199px) {
  .app h1 {
    font-size: 2.5rem; }
  .app_panel {
    padding: 1rem 1rem 1rem 3rem;
    box-shadow: 20px 20px 30px #000000; }
    .app_panel #nextArrow {
      left: 96%; }
    .app_panel #prevArrow {
      left: -14%; } }
@media (max-width: 992px) {
  html {
    overflow: initial; }

  body {
    background: linear-gradient(110deg, #444 60%, #333 60%);
    background-size: cover; }

  .app h1 {
    font-size: 1.8rem; }
  .app_panel:last-of-type {
    right: 0px;
    bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; } }
@media (max-width: 768px) {
  .app h1 {
    z-index: 90;
    top: -4rem; }
  .app_panel:first-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .app_panel:last-of-type {
    bottom: 0px; }

  #notCompatible {
    display: block;
    position: fixed;
    background-color: #000;
    height: 100vh;
    z-index: 100; }
    #notCompatible .row {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }

/*# sourceMappingURL=main.css.map */
