.whatsapp_cta{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 14rem;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 100;
    pointer-events: none;
}

.whatsapp_button{
    box-shadow: .5rem .5rem .5rem #000;
    box-sizing: border-box;
    z-index: 300;
    pointer-events: all;
}

.whatsapp_hover{
    position: relative;
    top: 1rem;
    left: 2rem;
    z-index: 1;
    opacity: 0;
    box-sizing: border-box;
}

.hover_text{
    font-family: sans-serif;
    font-size: .9rem;
    color: #fff;
    background-color: #2c8c28;
    border-radius: 14px;
    width: 60%;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    box-shadow: .3rem .3rem 2rem #000;
    box-sizing: border-box;
}

.whatsapp_form{
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #2c8c28;
    padding: .3rem .5rem;
    border-radius: 14px;
    transition: 1s;
    opacity: 0;
    display: flex;
    box-shadow: .3rem .3rem 2rem #000;
    box-sizing: border-box;
    pointer-events: all;
}

.form_container{
    flex-grow: 1;
    box-sizing: border-box;
}

.form_text{
    position: relative;
    resize: none;
    overflow: hidden;
    height: 95%;
    width: 85%;
    background-color: #2c8c28;
    color: #fff;
    font-family: sans-serif;
    outline: 0;
    border-radius: 4px;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: .9rem 1rem;
    font-size: 1.1rem;
    box-sizing: border-box;
}

.form_container .form_text:focus{
    outline: 0;
    border: 0;
    border-bottom: 2px solid #fff;
}

.form_container .form_text::placeholder{
    color: #999999;
    font-family: inherit;
}

.form_checkbox{
    position: absolute;
    opacity: 0;
    top: 40%;
    right: 18%;
    width: 4.5rem;
    height: 4.5rem;
    z-index: 350;
    cursor: pointer;
    box-sizing: border-box;
    pointer-events: all;
}

.form_checkbox:checked{
    position: absolute;
    top: -2%;
    left: 80%;
}

.form_checkbox:hover ~ .whatsapp_hover, .hover_text{
    animation: grow .6s ease-out forwards;
}

.form_checkbox:checked ~ .whatsapp_hover, .hover_text{
    z-index: -1;
    visibility: hidden;
}

.form_checkbox:not(:checked) ~ .whatsapp_hover, .hover_text{
    z-index: 1;
    visibility: visible;
}

.form_checkbox:checked ~ .whatsapp_form{
    opacity: 1;
    visibility: visible;
}

.form_checkbox:not(:checked) ~ .whatsapp_form{
    visibility: hidden;
}

.form_checkbox:checked ~ .whatsapp_button{
    position: absolute;
    animation: moveUp .4s ease-out forwards;
}

.form_checkbox:not(:checked) ~ .whatsapp_button{
    position: absolute;
    top: 0;
    right: 0;
    animation: moveDown .4s .4s ease-out forwards;
}

.icon{
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 5%;
    right: 20%;
    z-index: 320;
    box-sizing: border-box;
}

.send_label{
    position: absolute;
    top: 75%;
    right: 3%;
    cursor: pointer;
    box-sizing: border-box;
}

.send_label input{
    display: none;
    box-sizing: border-box;
}

.icon_send{
    width: 2rem;
    height: 2rem;
    z-index: 20;
    fill: #fff;
    box-sizing: border-box;
}

.bg-black{
    color: #fff;
    background-color: #000000 !important;
}

.bg-white{
    color: #000;
    fill: #000 !important;
    border-color: #000 !important;
    background-color: #fff !important;
}

.bg-gray{
    color: #fff;
    background-color: #676767 !important;
}

.bg-green{
    color: #fff;
    background-color: #2c8c28 !important;
}

.bg-orange{
    color: #fff;
    background-color: #ed3a17 !important;
}

.bg-yellow{
    color: #000;
    fill: #000 !important;
    border-color: #000 !important;
    background-color: #ffea63 !important;
}

.bg-red{
    color: #fff;
    background-color: #e31414 !important;
}

.bg-blue{
    color: #fff;
    background-color: #2997f0 !important;
}

.bg-purple{
    color: #fff;
    background-color: #702ec1 !important;
}

@keyframes grow{
    0%{
        opacity: 0;
        flex-grow: 0;
    }

    16%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        flex-grow: 1;
    }
}

@keyframes moveUp{
    0%{
        position: absolute;
        top: 43%;
        right: 20%;
    }

    100%{
        position: absolute;
        top: 0%;
        right: 0;
    }
}

@keyframes moveDown{
    0%{
        position: absolute;
        top: 0%;
        right: 0;
    }

    100%{
        position: absolute;
        top: 43%;
        right: 20%;
    }
}

/* para mobile */
@media (max-width: 768px) {

    .whatsapp_cta{
        width: 100px;
        height: 100px;
    }

    #form_checkbox{
        display: none;
    }
    
    .icon{
        position: absolute;
        width: 4em;
        height: 4em;
        top: 30%;
        right: 0%;
        z-index: 320;
        box-sizing: border-box;
        transform: scale(.8);
    }

    .form_checkbox:checked ~ .whatsapp_form{
        visibility: hidden;
        opacity: 0;
    }

    .form_checkbox:hover ~ .whatsapp_hover, .hover_text{
        visibility: hidden;
        opacity: 0;
    }
    
    @keyframes moveDown{
        0%{
        position: absolute;
        top: 0;
        right: 0;
    }

        100%{
        position: absolute;
        top: 20%;
        right: 5%;
        }
    }
}